html {
    background-color: burlywood;
}

#header,
#mainShop,
#cart {
    text-align: center;
}

#mainShop,
#cart {
    margin: 10px;
}

#header {
    background-color: chocolate;
}

#encapsule {
    display: flex;
}

#mainShop {
    background-color: chocolate;
    width: 800px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.card {
    background-color: chocolate;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
}

.card div {
    border: 3px solid rgb(118, 30, 30);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(60, 15, 15);
}

#cart {
    background-color: chocolate;
    width: 400px;
    display: grid;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(118, 30, 30);
    border: 3px solid rgb(118, 30, 30);
}