html {
    background-color: rgb(119, 153, 131);
    
}

#roomObj {
    background-color: rgb(95, 160, 145);
}

#div2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#roomObj,
#div2 {
    width: 825px;
    margin: 0 auto;
}

h1,
p,
img,
button,
ul,
li {
    margin: 5px;
    padding: 5px;
    background-color: rgb(0, 165, 165);
    border: 3px solid darkcyan;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(37, 81, 53);
    text-shadow: -2px 2px black;
    text-align: center;
}

p, 
button,
ul,
li {
    font-family: "lucida console", "Arial Narrow Bold", sans-serif;
    color: rgb(6, 59, 6);
}

p {
    width: 300px;
    text-align: center;
}

ul {
    width: 100px;
}

li {
    font-size: small;
}

img {
    width: 800px;
}

img:hover {
    background-color: darkcyan;
}

button {
    height: 50px;
    width: 80px;
    border-radius: 25%;
}

button:hover {
    background-color: darkcyan;
}