html {
    background-color: cadetblue;
}

header,
#top-paragraph {
    text-align: center;
}

h1 {
    background-color: darkcyan;
    border: 3px solid seagreen;
    border-radius: 50%;
}

#tab {
    color: darkslategray;
}

#tab:hover {
    color: chartreuse;
}

.header {
    color: #005d6d;
    text-shadow: 2px 2px  #003b45;
    font-family: cursive;
    text-decoration: underline;
}

.text {
    color: darkgreen;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-align: left;
}

#image-section {
    background-color: darkcyan;
    border: 3px solid seagreen;
    padding: 10px;
    width: 805px;
    margin: 0 auto;
}

h2 {
    background-color: darkcyan;
    border: 3px solid seagreen;
    border-radius: 50%;
    width: 210px;
}

div {
    display: flex;
    width: 100%;
}

ol li,
ol img, 
ol p,
.otherSection {
    background-color: darkcyan;
    border: 3px solid seagreen;
}

.centerDiv {
    margin: 0 auto;
    width: 800px
}

.image {
    width: 400px;
    height: auto;
    border-radius: 8px;
}